.promo-snd {
  display: flex;
  align-items: center;
  height: 890px;
  background-image: url('/img/promo2_bg.jpg');
}

.promo-snd__wrapper {
  width: 530px;
}

.promo-snd__title {
  width: 530px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-size: 60px;
  line-height: 55px;
  font-weight: 700;
  text-transform: uppercase;
  color: @white;
}

.promo-snd__text {
  width: 530px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: @white;
}
