body {
  position: relative;
  min-width: 1600px;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #ffffff;
  color: #74797e;
}
.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 210px;
}
.main-nav {
  position: absolute;
  top: 70px;
  left: 210px;
  width: 1180px;
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.main-nav__item {
  display: block;
  margin-right: 30px;
}
.main-nav__link {
  display: block;
  height: 72px;
  padding: 20px 0;
  font-size: 14px;
  line-height: 29px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-nav__link--join {
  width: 130px;
  height: 52px;
  padding: 10px 0;
  padding-right: 38px;
  background-color: #a100ff;
  text-align: center;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-nav__link--current {
  border-bottom: 3px solid #28c8c6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.promo {
  position: relative;
  height: 582px;
  padding-top: 330px;
  background-color: #3c086b;
  background-image: url("../img/promo_bg.jpg");
}
.promo__title {
  width: 530px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-size: 60px;
  line-height: 55px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.promo__text {
  width: 530px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.promo__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.promo__select {
  width: 280px;
  margin-right: 17px;
  padding: 19px 0;
  padding-left: 20px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 20px;
  color: #474747;
  border-radius: 2px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url('../img/btn_arrow_down.svg');
  background-repeat: no-repeat;
  background-position: 240px center;
}
.promo__input {
  width: 270px;
  margin-right: 16px;
  padding: 20px 0;
  padding-left: 24px;
  padding-right: 35px;
  font-size: 14px;
  line-height: 20px;
  color: #474747;
  border-radius: 2px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url('../img/btn_arrow_right_nocircle.svg');
  background-repeat: no-repeat;
  background-position: 234px center;
}
.promo__btn {
  display: block;
  width: 64px;
  height: 60px;
  border: none;
  border-radius: 3px;
  background-color: #28c8c6;
}
.promo__btn-arrow {
  fill: #ffffff;
}
.arrow {
  position: absolute;
  bottom: -56px;
  left: 742px;
  display: block;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-color: #f5f7f9;
  z-index: 1;
}
.arrow--latest {
  background-color: #28c8c6;
}
.arrow__img {
  position: absolute;
  top: 45px;
  left: 45px;
  fill: #96a5b4;
  fill: #ffffff;
}
.arrow__img--promo {
  fill: #96a5b4;
}
.arrow__img--latest {
  fill: #ffffff;
}
.arrow__img--features {
  fill: #d8e0e8;
}
.latest {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 542px;
  background-color: #f5f7f9;
  background-image: url('../img/phone.png');
  background-repeat: no-repeat;
  background-position: center -100%;
}
.latest__title {
  margin: 0;
  margin-top: 115px;
  margin-bottom: 35px;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  color: #333b42;
  text-transform: uppercase;
}
.latest__text {
  width: 670px;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 25px;
  color: #74797e;
  text-align: center;
}
.features {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 776px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__title {
  margin: 0;
  margin-top: 155px;
  margin-bottom: 25px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333b42;
}
.features__text {
  width: 670px;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #74797e;
}
.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.features__item {
  width: 280px;
  padding-top: 170px;
  background-image: url('../img/cart.png');
  background-repeat: no-repeat;
  background-position: top center;
}
.features__item--plane {
  background-image: url('../img/plane.png');
}
.features__item--arrows {
  background-image: url('../img/arrows.png');
}
.features__item--window {
  background-image: url('../img/cart.png');
}
.features__item-title {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-size: 17px;
  line-height: 29px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333b42;
  text-align: center;
}
.features__item-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #74797e;
}
.slider {
  margin-bottom: 100px;
}
.slider__input {
  display: none;
}
.slider__toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  margin: 0 auto;
  margin-bottom: 54px;
  border: 1px solid #28c8c6;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.slider__toggle {
  width: 134px;
  padding: 13px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 29px;
  color: #28c8c6;
  text-align: center;
}
.slider__toggle--one {
  width: 168px;
}
#development:checked ~ .slider__toggles .slider__toggle--one,
#design:checked ~ .slider__toggles .slider__toggle--two,
#business:checked ~ .slider__toggles .slider__toggle--three,
#arts:checked ~ .slider__toggles .slider__toggle--four {
  background-color: #28c8c6;
  color: #ffffff;
}
.slider__slides {
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 276px;
  overflow-x: hidden;
}
.slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}
.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 380px;
  height: 276px;
  margin-right: 20px;
  background-image: url('../img/design_img.jpg');
  background-repeat: no-repeat;
}
.slider__item:last-child {
  margin-right: 0;
}
.slider__link {
  position: relative;
  display: block;
  padding: 23px 0;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 25px;
  color: #333b42;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.slider__link::before {
  content: '';
  position: absolute;
  top: 37px;
  right: 37px;
  width: 9px;
  height: 2px;
  background-color: #28c8c6;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.slider__link::after {
  content: '';
  position: absolute;
  top: 32px;
  right: 37px;
  width: 9px;
  height: 2px;
  background-color: #28c8c6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#design:checked ~ .slider__slides .slider__slide--two {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
#business:checked ~ .slider__slides .slider__slide--three {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}
#arts:checked ~ .slider__slides .slider__slide--four {
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
}
.guidelines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 184px;
  background-color: #f6f9fa;
  border-top: 1px solid #d8e0e8;
}
.guidelines__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #333b42;
  text-transform: uppercase;
}
.guidelines__text {
  width: 920px;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 14px;
  line-height: 25px;
  color: #74797e;
  text-align: center;
}
.logo {
  margin-right: auto;
}
.logo--promo {
  display: block;
  width: 177px;
  margin: 0;
  margin-right: 40px;
}
.logo__img {
  fill: #28c8c6;
}
.promo-snd {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1590px;
  background-image: url('../img/macbook.png'), url('../img/promo2_bg.jpg');
  background-repeat: no-repeat;
  background-position: 490px 370px,
                      top;
}
.promo-snd__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 300px;
}
.promo-snd__inner {
  width: 530px;
}
.promo-snd__title {
  width: 530px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-size: 60px;
  line-height: 55px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.promo-snd__text {
  width: 530px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.promo-snd__up {
  position: absolute;
  bottom: 410px;
  left: 30px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #919191;
  background-image: url('../img/btn_arrow_top_nocircle.svg');
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column-start: 4;
}
.social__item {
  position: relative;
  display: block;
  width: 95px;
  padding-left: 26px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #69b6f2;
  background-image: url('../img/twit.svg');
  background-repeat: no-repeat;
  background-position: 18px 12px;
  color: #ffffff;
  font-size: 13px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
}
.social__item--fb {
  background-color: #3a579a;
  background-image: url('../img/facebook.svg');
  background-position: 18px 10px;
}
.page-footer {
  display: grid;
  grid-template-columns: 210px 660px 115px 200px;
  grid-template-rows: 35px 130px auto;
  grid-gap: 40px 0;
  padding-bottom: 150px;
}
.nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-footer__link {
  font-size: 12px;
  line-height: 35px;
  text-decoration: none;
  color: #8297a7;
}
.copyright {
  grid-column-start: 3;
  grid-column-end: -1;
  text-align: right;
}
.copyright__madein {
  display: block;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 16px;
}
.copyright__etc {
  display: block;
  font-size: 12px;
  line-height: 16px;
}
.copyright__staff {
  display: inline-block;
  text-decoration: none;
  color: #74797e;
}
.copyright__staff:hover {
  color: #3a579a;
}
.etc {
  display: block;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: -1;
  grid-row-end: 3;
  font-size: 12px;
  line-height: 24px;
  color: #8297a7;
}
.label {
  position: absolute;
  bottom: -28px;
  right: -63px;
  display: block;
  width: 185px;
  padding: 15px 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-color: #8500d2;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  text-align: center;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}
