body {
  min-width: 1600px;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #ffffff;
  color: #74797e;
}
.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 210px;
}
.main-nav {
  position: absolute;
  top: 70px;
  left: 210px;
  width: 1180px;
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.main-nav__item {
  display: block;
  margin-right: 30px;
}
.main-nav__link {
  display: block;
  height: 72px;
  padding: 20px 0;
  font-size: 14px;
  line-height: 29px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-nav__link--join {
  width: 130px;
  height: 52px;
  padding: 10px 0;
  padding-right: 38px;
  background-color: #a100ff;
  text-align: center;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-nav__link--current {
  border-bottom: 3px solid #28c8c6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.promo {
  position: relative;
  height: 582px;
  padding-top: 330px;
  background-color: #3c086b;
  background-image: url("/img/promo_bg.jpg");
}
.promo__title {
  width: 530px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-size: 60px;
  line-height: 55px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.promo__text {
  width: 530px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.promo__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.promo__select {
  width: 280px;
  margin-right: 17px;
  padding: 19px 0;
  padding-left: 20px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 20px;
  color: #474747;
  border-radius: 2px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.promo__input {
  width: 270px;
  margin-right: 16px;
  padding: 20px 0;
  padding-left: 24px;
  padding-right: 35px;
  font-size: 14px;
  line-height: 20px;
  color: #474747;
  border-radius: 2px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.promo__btn {
  display: block;
  width: 64px;
  height: 60px;
  border: none;
  border-radius: 3px;
  background-color: #28c8c6;
}
.latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 542px;
  background-color: #f1f4f7;
  background-image: url('/img/phone.png');
  background-repeat: no-repeat;
  background-position: center -100%;
}
.latest__title {
  margin: 0;
  margin-top: 115px;
  margin-bottom: 35px;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  color: #333b42;
  text-transform: uppercase;
}
.latest__text {
  width: 670px;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 25px;
  color: #74797e;
  text-align: center;
}
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 776px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__title {
  margin: 0;
  margin-top: 155px;
  margin-bottom: 25px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333b42;
}
.features__text {
  width: 670px;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #74797e;
}
.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.features__item {
  width: 280px;
  padding-top: 170px;
  background-image: url('/img/cart.png');
  background-repeat: no-repeat;
  background-position: top center;
}
.features__item--plane {
  background-image: url('/img/plane.png');
}
.features__item--arrows {
  background-image: url('/img/arrows.png');
}
.features__item--window {
  background-image: url('/img/cart.png');
}
.features__item-title {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-size: 17px;
  line-height: 29px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333b42;
  text-align: center;
}
.features__item-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #74797e;
}
.slider {
  margin-bottom: 100px;
}
.slider__input {
  display: none;
}
.slider__toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  margin: 0 auto;
  margin-bottom: 54px;
  border: 1px solid #28c8c6;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.slider__toggle {
  width: 134px;
  padding: 13px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 29px;
  color: #28c8c6;
  text-align: center;
}
.slider__toggle--one {
  width: 168px;
}
#development:checked ~ .slider__toggles .slider__toggle--one,
#design:checked ~ .slider__toggles .slider__toggle--two,
#business:checked ~ .slider__toggles .slider__toggle--three,
#arts:checked ~ .slider__toggles .slider__toggle--four {
  background-color: #28c8c6;
  color: #ffffff;
}
.slider__slides {
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 276px;
  overflow-x: hidden;
}
.slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}
.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 380px;
  height: 276px;
  margin-right: 20px;
  background-image: url(/img/design_img.jpg);
  background-repeat: no-repeat;
}
.slider__item:last-child {
  margin-right: 0;
}
.slider__link {
  position: relative;
  display: block;
  padding: 23px 0;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 25px;
  color: #333b42;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.slider__link::before {
  content: '';
  position: absolute;
  top: 37px;
  right: 37px;
  width: 9px;
  height: 2px;
  background-color: #28c8c6;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.slider__link::after {
  content: '';
  position: absolute;
  top: 32px;
  right: 37px;
  width: 9px;
  height: 2px;
  background-color: #28c8c6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#design:checked ~ .slider__slides .slider__slide--two {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
#business:checked ~ .slider__slides .slider__slide--three {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}
#arts:checked ~ .slider__slides .slider__slide--four {
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
}
.guidelines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 184px;
  background-color: #f6f9fa;
  border-top: 1px solid #d8e0e8;
}
.guidelines__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #333b42;
  text-transform: uppercase;
}
.guidelines__text {
  width: 920px;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 14px;
  line-height: 25px;
  color: #74797e;
  text-align: center;
}
.logo {
  margin-right: auto;
}
.logo--promo {
  display: block;
  width: 177px;
  margin: 0;
  margin-right: 40px;
}
.logo__img {
  fill: #28c8c6;
}
.promo-snd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 890px;
  background-image: url('/img/promo2_bg.jpg');
}
.promo-snd__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.promo-snd__inner {
  width: 530px;
}
.promo-snd__title {
  width: 530px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-size: 60px;
  line-height: 55px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.promo-snd__text {
  width: 530px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
